*{
    box-sizing: border-box;
}
.header{
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 21px;
}
.cab p:first-child{
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color:white;
}
.cab p:nth-child(2){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
}
.corpo{
    background-color: #E5E5E5;
    width: 100%;
    margin-top: 92px;
    margin-bottom: 118px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.container-opcoes{
    width: 100%;
    padding-top: 31px;
    padding-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.container-opcoes > p{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 17px;
    color: #333333;
}
.box-opcoes{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
}
.opcoes{
    background-color: white;
    width: 172px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 16px;
    margin-right: 16px;
}
.opcoes:hover{
    cursor: pointer;
}
.img-prato{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.img-bebida{
    width: 144px;
    height: 150px;
    border-radius: 4px;
}
.img-sobremesa{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.opcoes > p:nth-child(2){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
}
.opcoes > p:nth-child(3){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-top: 8px;
}
.opcoes > p:nth-child(4){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 8px;
}
.rodape{
    background-color:white;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.fechar-pedido{
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
.texto-fechar-pedido{
    width: 210px;
    font-family: 'Roboto';
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
